@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 70px;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(22 21 19);
  display: flex;
  align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(71, 62, 52);
  flex-wrap: wrap;
}
header nav{
  margin-right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav a{
  color: white;
  padding: 24px;
  text-decoration: none;
}
.active{
  border-bottom: white;
}
header p{
  font-size: 20px;
}
body{
  
  /* font-family: "Sofia", sans-serif; */
  /* text-shadow: 3px 3px 3px #ababab; */
  /* font-family: 'Abril Fatface', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif; */
  font-family: 'Audiowide', sans-serif;
  background-image: url(../img/d.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  /*background-color: rgb(22, 21, 19);*/
}
.btn1{
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px; 
  color: white;
  background: linear-gradient(to right, #ff5e68 6%,#fe6c65 38%,#fe6f64 38%,#ff9c51 89%);
}
.btn{
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px; 
  padding: 10px;
  border: none;
  border-left: 1px solid pink;
  border-right: 1px solid purple;
  color: white;
  background-color: rgb(22, 21, 19);
}
h1 , h2 {
  font-size: 48px;
}
h1 , h2 , p , span ,h3{
  color:white;
}
hr{
  width: 200px;
}
section img{
  
  margin-top: 70px;
  width: 372px;
}
#home{
  height:100vh;
}
#home, #about{
  width: 100%;
  /* margin-top: 53px; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#about img{
  margin-top: 40px;
  margin-bottom: 37px;
}
.nr{
  background: linear-gradient(to right, #b26ceb 6%,#de6bbd 20%,#fe6c65 38%,#fe6f64 38%,#ff9c51 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#summary{
  font-family: 'Mali', cursive;
}
.pp{
  font-family: 'Mali', cursive;
}
.active {
  color: transparent; 
  text-shadow: 0 0 0 white; 
  border-bottom: 3px solid; 
  border-image: linear-gradient(to right, #ff5e68 6%,#fe6c65 38%,#fe6f64 38%,#ff9c51 89%); 
  border-image-slice: 1; 
}
a:hover{
  color: #fe6c65 ;
}

.nn{
  flex-direction: column;
  display: flex;
    align-items: center;
}

#project{
  background-color: rgb(30, 30, 30);
}
.p{
  margin-left: 32px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}
.p1 , .p2{
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.p1{
    margin-top: 102px;
    margin-bottom: 102px;
    margin-right: 19px;
    flex-direction: row-reverse;
}
.p2{
  margin-left: 59px;
}
footer{
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(22, 21, 19);
  height: 244px;
}
.j{
  margin-left: 23px;
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
}
#bb{
  margin-bottom: 30px;
  margin-left: 11px;
    width: 43px;
    margin-right: 28px;
    font-size: 19px;
    padding: 8px;
    color: white;
    background-color: black;
    border: none;
    border: 1px dashed;
    border-bottom-color: rgb(255, 95, 106);
    border-right-color: rgb(255, 151, 82);
    border-left-color: rgb(124, 74, 146);
    border-top-color: rgb(255, 95, 106);
    border-radius: 50%;
}
#bb:hover{
  color: rgb(124, 74, 146);
}
.line{
  line-height: 1.7;
}
#home div .btn1{
font-size:14px; margin-right:10px;
}
.po{
  margin-bottom: 33px;
}
.last-iframe{
  margin-bottom: 41px;
}


.writer{
  color: white;
  text-transform: uppercase;
}

h4 {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


@media only screen and (min-width: 640px ) and (max-width: 961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  section img {
    margin-top: 0;
    width: 300px;
  }

  h1, h2 {
    font-size: 34px;
  }
  #home{
    margin-top: 76px;
    padding: 24px;
  }
  #summary {
    font-size: 15px;
  }
  header nav{
    width: 100%;
    margin-right: 0;
    background-color: rgb(22 21 19);
    border-bottom: 1px solid rgb(71, 62, 52);
  }
  #about{
    padding: 24px;
    margin-top: 48px;
  }

  .nn {
    padding: 11px;
    align-items: normal;
  }
  .nn b{
    font-size: 15px;
  }

  h2 > .nr{
    padding-right: 0;
  }
}

@media only screen and (min-width: 444px) and (max-width: 641px){
  .j{
    flex-wrap: wrap;
  }
  section img {
    width: 248px;
  }
  h1, h2 {
    font-size: 30px;
  }
  #home{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 6px;
    margin-top: 147px;
  }
  #about{
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 48px;
  }
  #summary {
    padding-right: 8px;
  }
  .pp{
    padding-right: 47px;
  }
  .p{
    margin-top: 24px;
    margin-left: 0;
    margin-bottom: 38px;
    align-items: stretch;
  }
  .p2{
    margin-left: 0;
  }
  .p1{
    margin-right: 0;
  }
  .p1, .p2{
    flex-wrap: wrap;
    padding: 12px;
  }
  header nav {
    margin-right: 0;
    width: 100%;
    background-color: rgb(22 21 19);
    border-bottom: 1px solid rgb(71, 62, 52);
  }
  section img{
    margin-top: 0;
  }
  .nn {
    padding: 16px;
    align-items: normal;
  }
  .nn b{
    font-size: 15px;
  }

  h2 > .nr{
    padding-right: 0;
  }
  iframe{
    width: 100%;
  }
  #home div{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  #home div .btn1{
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .btn{
    margin-left: 0;
  }
  .b2{
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (min-width: 320px) and (max-width: 443px){
  #home {
    margin-top: 212px;
  }
  section img {
    width: 223px;
  }
  header nav {
    flex-wrap: wrap;
    background-color: rgb(22 21 19);
    border-bottom: 1px solid rgb(71, 62, 52);
  }
  .j{
    flex-wrap: wrap;
  }

  h1, h2 {
    font-size: 30px;
  }
  #home{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 6px;
  }
  #about{
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 48px;
  }
  #summary {
    padding-right: 8px;
  }
  .pp{
    padding-right: 47px;
  }
  .p{
    margin-top: 24px;
    margin-left: 0;
    margin-bottom: 38px;
    align-items: stretch;
  }
  .p2{
    margin-left: 0;
  }
  .p1{
    margin-right: 0;
  }
  .p1, .p2{
    flex-wrap: wrap;
    padding: 12px;
  }
  header nav {
    margin-right: 0;
    width: 100%;
  }
  section img{
    margin-top: 0;
  }
  .nn {
    padding: 16px;
    align-items: normal;
  }
  .nn b{
    font-size: 15px;
  }

  h2 > .nr{
    padding-right: 0;
  }
  iframe{
    width: 100%;
  }
  #home div{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  #home div .btn1{
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .btn{
    margin-left: 0;
  }
  .b2{
    display: flex;
    flex-direction: column;
  }
}




